name: Main CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install PDM
        run: pip install pdm
      - name: Cache PDM virtualenv
        uses: actions/cache@v4
        with:
          path: |
            __pypackages__/
            .venv/
            ~/.cache/pip
          key: ${{ runner.os }}-py3.12-${{ hashFiles('pdm.lock') }}
          restore-keys: |
            ${{ runner.os }}-py3.12-

      - name: Run CI pipeline
        run: |
          make ci
