name: Dev Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install PDM
        run: pip install pdm

      - name: Install dependencies
        run: make install

      - name: Run migrations
        run: make migrate
